<h2>Available Jobs</h2>
<% @user.jobs.reverse.each do |b|%>
	Name: <%= job.name %> <br>
	Description: <%= job.description %> <br>
	Origin: <%= job.origin %> <br>
	Destination: <%= job.destination %> <br>
	Container Count: <%= job.container %> <br>
	Price: <%= job.price %> <br>
	<%= link_to "Edit Job", edit_job_path, id:"editjob" %> <%= link_to 'Delete Job', post_path(b.id),
    data: {:confirm => 'Are you sure?'}, :method => :delete %>
<% end %>