
<% if current_user.user_type == "Job" %>
<div class="showField">
	<%if(@job)%>
	Name: <%= @job.name %><br>
	Description: <%= @job.description %><br>
	Origin: <%= @job.origin %><br>
	Destination: <%= @job.destination %> <br>
	Container Count: <%= @job.container %> <br>
	Price: <%= @job.price %> <br><br>
	<% @job_boat.each do |boat| %>
 Boat chosen: <%= boat.name %> <br><br>
 Container capacity: <%= boat.container %> <br><br>
 <%= image_tag boat.avatar.url(:thumb) %><br><br>
Distance: <%= Geocoder::Calculations.distance_between([boat.latitude, boat.longitude], [@job.latitude,@job.longitude]).round(2) %> miles <br><br>
<% end %>
<%end%>
	<%=link_to 'Edit', edit_job_path(params[:id]), :class=>"btn-success btn btn-github" %>
	<%= link_to 'Delete',  { action: :destroy, id: @job.id }, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-success btn btn-github" %>
</div>

<% else %>

<%if @boat %>
<%@boat.reverse.each do |b|%>

<h1> <%=b.name %> </h1>
<%end%>
<% end %>
<%end%>

