<% content_for :title, "Job - [" + @job.name + "]"%>
<div class="showField">
	Name: <%= @job.name %><br>
	Description: <%= @job.description %><br>
	Origin: <%= @job.origin %><br>
	Destination: <%= @job.destination %> <br>
	Container Count: <%= @job.container %> <br>
	Price: <%= @job.price %> <br><br>
	<%=link_to 'Edit', edit_job_path(params[:id]), :class=>"btn-success btn btn-github" %>
	<%= link_to 'Delete',  { action: :destroy, id: @job.id }, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn-success btn btn-github" %>
</div>