<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "First Name" %>:
    <%= f.text_field :firstname, autofocus: true %> <br>
    <%= f.label "Last Name" %>:
    <%= f.text_field :lastname, autofocus: true %> <br>
    <%= f.label "Username" %>:
    <%= f.text_field :username, autofocus: true %> <br>
    <%= f.label "DOB" %>:
    <%= f.text_field :dob, autofocus: true %> <br>
    <%= f.label "gender" %>:
    <%= f.text_field :gender, autofocus: true %> <br>
  </div>
  <div class="field">
    <%= f.label :email %>:
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Password" %>:
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Password confirmation" %>:
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
