

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <br>
  <br>
<div class="shadowStyle">
<h2 class="pageTitle">Sign up</h2>
  <div class="field">
    <%= f.label "First Name" %>:
    <%= f.text_field :firstname, autofocus: true %> <br>
    <%= f.label "Last Name" %>:
    <%= f.text_field :lastname, autofocus: true %> <br>
    <%= f.label "Username" %>:
    <%= f.text_field :username, autofocus: true %> <br>
    <%= f.label "DOB" %>:
    <%= f.text_field :dob, autofocus: true, placeholder: 'mm/dd/yyyy' %> <br>
    <%= f.label "Gender" %>:
    <%= f.text_field :gender, autofocus: true %> <br>
    <%= f.label "Type" %>:
     <%= f.select :user_type,[["Shipping"],["Job"]], autofocus:true %> <br>

  </div>
  <div class="field">
    <%= f.label :email %>:
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label "Password" %>:
    <%= f.password_field :password, autocomplete: "off", placeholder: "6 character minimum" %>
  </div>

  <div class="field">
    <%= f.label "Password confirmation" %>: 
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn btn-github' %>
  </div>
<% end %>
</div>

<br>
<br>
<br>


